<h1 class="center white-text"><%= @board.name %></h1>
<hr>

<ol class="center white-text">
<% @songs.each do |song| %>
  <li>
    <%= song.name %>
  </li>
<% end %>
</ol>
<div class="white-text">
  <% @songs.artists.each do |song| %>
    <%= render 'artists/artist', { artist: name } %>
  <% end %>
</div>

<hr>
<%= button_to 'Back', boards_path, method: :get %>
