<h1 class="center white-text"><%= @board.name %></h1>
<hr>

<ol class="center white-text">
<% @songs.each do |song| %>
  <li>
    <%= song.artist %>
    <p> - </p>
    <%= song.name %>
    <br>
    <br>
  </li>

<% end %>
</ol>

<hr>
<%= button_to 'Back', boards_path, method: :get %>
