<h1 class="center white-text">Music Billboards!</h1>
<hr>
<p class="center white-text">Click chart to view details</p>
<hr>

<div class="center blue-text">
  <h5><%= button_to 'Create New Chart', new_board_path, method: :get %></h5>
</div>

<ul class="center white-text">
  <% @boards.each do |board| %>
  <li><%= link_to board.name, board_songs_path(board) %></li>
  <% end %>
</ul>
<hr>
